configuration {
  modi: "combi";
  combi-modi: "main:~/.config/rofi/scripts/main.lua";
  combi-hide-mode-prefix: true;

  scroll-method: 1;
  tokenize: true;

  threads: 2;
  matching: "fuzzy";

  disable-history: true;



  kb-cancel: "Escape,Super+space";
  kb-accept-entry: "Return,KP_Enter";
  kb-remove-to-eol: "";
  kb-row-up: "Control+k,Up";
  kb-row-down: "Control+j,Down";

}
@theme "~/.config/rofi/theme.rasi"
