!Used theme: /home/dburian/.config/urxvt/themes/snazzy
Xcursor.size: 15

URxvt.font:  xft:SourceCodePro-Regular:size=11
URxvt.boldFont: xft:SourceCodePro-Medium:size=11:medium
URxvt.depth: 32
URxvt.scrollBar: false
URxvt.iso14755: False
URxvt.internalBorder: 13

URxvt.perl-ext-common: keyboard-select,selection-to-clipboard,font-size

URxvt.clipboard.autocopy: true
URxvt.keyboard-select.clipboard: true

URxvt.keysym.Meta-Escape: perl:keyboard-select:activate
URxvt.keysym.Meta-s: perl:keyboard-select:search

! URXVT snazzy theme
! https://github.com/LeonGr/urxvt-snazzy

*background:   [97]#282a36
*foreground:   #eff0eb
*cursorColor:  #9aedfe

*color0:      #33303b
*color8:      #4f4b58
*color1:      #ff5c57
*color9:      #ff5c57
*color2:      #5af78e
*color10:     #5af78e
*color3:      #f3f99d
*color11:     #f3f99d
*color4:      #57c7ff
*color12:     #57c7ff
*color5:      #ff6ac1
*color13:     #ff6ac1
*color6:      #9aedfe
*color14:     #9aedfe
*color7:      #eff0eb
*color15:     #eff0eb
